/* GLOBALES */
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #cacaca;
}

a {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #04AA6D;
}

/* Ocultar flechas input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

  /* Acorta el ancho del campo*/
  width: 55px;
}

/* Generales */

.oculto {
  display: none !important;
}

.btn-cerrar {
  align-self: flex-end;
  font-size: 18px;
  text-decoration: none;
}

.btn-cerrar:hover {
  color: #a91b1b;
}

/* ------ Fin GLOBALES ------ */


/* ------ Historial de propinas ------ */

.lista-clientes,
.historial-propinas {
  border-collapse: collapse;
  width: 100%;
}

.lista-clientes td, .lista-clientes th,
.historial-propinas td, .historial-propinas th {
  border: 1px solid #a1a1a1;
  padding: 4px;
}

.datos-clientes,
.datos-propinas {
  background-color: #f2f2f2;
}
.datos-clientes:lishover,
.datos-propinas:hover {
  background-color: #ddd;
}

.lista-clientes tr:hover,
.historial-propinas tr:hover {
  background-color: #ddd;
}

.lista-clientes th,
.historial-propinas th {
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.data {
  text-align: center;
}

.num {
  text-align: right;
}


/* ------ Estilos de registro ------ */

.datos-personales {
  margin-bottom: 1.5rem;
  padding: 5px;
  padding-top: 0;
  max-width: 15rem;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.field-datos {
  margin-bottom: 14px;
  width: 14rem;
}

.btn-registro {
  width: 5.5rem;
}

/* ------ Estilos propina ------ */

.datos-iniciales {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.field-inicial,
.field {
  margin: 7px 0;
}

/* ------ Estilos cálculo propina ------ */

.btns-calculo-propina {
  margin: 14px 15px 0 0px;
}

.totales,
.montos {
  display: grid;
  grid-template-columns: auto auto;
}

.totales {
  margin-top: 1.5rem;
}